<div class="align-middle col-10 offset-1">
  <div class="card mt-5">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">İşlem Tipi</th>
        <th scope="col">Kaynak Hesap Numarası</th>
        <th scope="col">Giden Hesap Adı / Numarası</th>
        <th scope="col">Açıklama</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <th scope="row">{{transaction.id}}</th>
        <td>{{transaction.type}}</td>
        <td>{{transaction.sender_accountNumber}}</td>
        <td>{{transaction.receiver_accountNumber}}</td>
        <td>{{transaction.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="mt-5 col-5 offset-1">
      <button (click)="makeTransaction('virman')" class="btn btn-primary btn-block">Virman</button>
    </div>
    <div class="mt-5 col-5">
      <button (click)="makeTransaction('havale')" class="btn btn-primary btn-block">Havale</button>
    </div>
  </div>
</div>
