<body>

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div *ngIf="username" class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Merhaba, {{username}}</div>
    <div class="list-group list-group-flush">
      <a [routerLink]="'/accounts'" routerLinkActive="list-group-item-active" class="list-group-item list-group-item-action bg-light">Hesaplar</a>
      <a [routerLink]="'/transactions'" routerLinkActive="list-group-item-active" class="list-group-item list-group-item-action bg-light">Transferler</a>
      <a (click)="logout()" class="list-group-item list-group-item-action bg-light">Oturumu Kapat</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

</body>
